body {
    background-image: url("../images/mark-solarski-183866-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:960px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 100px;
}
.card {
    margin-top: 200px;
    margin-right: 100px;
    font-size: 50px;
    padding-left: 275px;
}